/* static/css/style.css */
.tab-btn {
    @apply px-4 py-2 rounded-lg flex items-center space-x-2 transition-colors;
}

.tab-btn.active {
    @apply bg-blue-500 text-white;
}

.tab-btn:not(.active) {
    @apply bg-gray-200 hover:bg-gray-300;
}

.action-btn {
    @apply transition-transform hover:scale-110;
}

.action-btn i {
    @apply text-xl;
}

#cat-image {
    height: 500px;
}

.cat-container {
    position: relative;
    min-height: 500px;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.breeds{
    width:1200px;
    margin:auto;
    padding: 25px;
    border-radius: 25px;
}